@charset "UTF-8";
/*----------CSS General-------------*/
* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
main:not(.mainMent) {
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
}
body {
    background-color: #ededed;
    font-family: "Rajdhani", sans-serifs;
}
h1 {
    font-family: "Major Mono Display", monospace;

    text-decoration: none;

    font-size: 4vh;
    vertical-align: middle;
}
h2,
nav a {
    font-family: "Bebas Neue", cursive;
}

h2 {
    font-size: 10vh;
    text-align: center;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}
p {
    color: white;
}
section {
    padding-top: 10vh;
    height: 90vh;
}

/*----------Bandeau de navigation----------*/

.bandeauNav {
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    padding: 0 5vw;
    background-color: black;

    display: flex;

    flex-direction: row;

    justify-content: space-between;

    align-items: center;
}
nav {
    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;
}

.menu {
    padding: 0 2vw;

    font-size: 4vh;
    vertical-align: middle;
}
a:hover {
    color: #fffa00;
}

/*----------footer----------*/

footer {
    height: 5vh;
    padding: 0 5vw;
    background-color: black;

    display: flex;

    flex-direction: row;

    justify-content: space-between;

    align-items: center;
}
footer p {
    color: white;
    font-family: "Major Mono Display", monospace;
    font-size: 2vh;
}

/*----------------Section d'atterrissage----------*/

.accueil {
    display: flex;
    height: 100vh;
    background-image: url(../images/bgAccueil.webp);
    background-size: 1920px 1080px;
}
.accueil h2 {
    margin: auto;
    font-size: 15vh;
    font-family: "Major Mono Display", monospace;
    color: white;
    /*--c'est voulu que le titre soit aligné à gauche sur la plus petite taille d'écran--*/
}

/*---------Section a propos----------*/

.about {
    height: 90vh;

    grid-column: 2/3;

    display: grid;

    align-items: baseline;

    justify-content: center;

    align-items: center;

    grid-template: 10vh 80vh / repeat(3, 1fr);
}
.about h2 {
    grid-column-start: 2;
    font-size: 10vh;
    text-align: center;
    height: 10vh;
}
.categorie {
    margin: 16vh auto auto auto;
    width: 289px;
    height: 514px;
    background-repeat: no-repeat;
    background-size: 45%, contain;
    background-position: center 20%, center;
}
.categorie a {
    display: grid;
    height: 410px;

    grid-template-rows: 2fr 1fr;

    justify-content: center;
}
.categorie p {
    grid-row-start: 2;
    margin-bottom: auto;
    text-align: center;
    font-family: "Bebas Neue", cursive;

    font-size: 5vh;
}
.presentation {
    grid-area: 2/1/2/1;
    background-image: url(../images/bitmoji3.svg), url(../images/bgPresentation.svg);
}

.skills {
    grid-area: 2/2/2/2;
    background-image: url(../images/competence.svg), url(../images/bgCompétences.svg);
}

.parcours {
    grid-area: 2/3/2/3;
    background-image: url(../images/map.svg), url(../images/bgParcours.svg);
}
.skills a:hover p,
.presentation a:hover p,
.parcours a:hover p {
    color: #fffa00;
}
.skills:hover {
    background-image: url(../images/competenceHover.svg), url(../images/bgCompétences.svg);
}
.presentation:hover {
    background-image: url(../images/bitmoji3Hover.svg), url(../images/bgPresentation.svg);
}
.parcours:hover {
    background-image: url(../images/mapHover.svg), url(../images/bgParcours.svg);
}

/*----------Section réalisations----------*/

.real {
    display: grid;

    grid-template-rows: 10vh 80vh;

    justify-content: center;
}
.real h2 {
    grid-row: 1/2;
}
.petitesRealisations {
    grid-row: 2/3;

    display: grid;

    grid-template-rows: repeat(2, 1fr);

    grid-template-columns: repeat(2, 1fr);

    justify-content: center;

    align-items: center;
    width: 70vh;
    height: 70vh;

    flex-wrap: wrap;

    transform: none;

    transition: transform 500ms;

    margin: 3vh auto;
}
.boiteMini {
    height: 30vh;
    width: 30vh;
    margin: auto;
    overflow: hidden;
    background-color: inherit;

    transform: none;

    transition: transform 500ms;
    border: 1px solid #ededed;
    border-radius: 100px;
}
.boiteMini img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    opacity: 80%;
}
.boiteMini img:hover {
    opacity: 100%;
}
.boiteMini:hover {
    transform: scale(1.1);
}
.popup {
    visibility: hidden;

    display: grid;

    grid-template-columns: 90vw 10vw;

    grid-template-rows: repeat(2, 10vh) 80vh;

    justify-content: center;

    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-color: rgba(20, 20, 20, 0.95);
    width: 100vw;
    height: 100vh;
}

.popupContenu {
    grid-area: 2/1/3/3;
    padding-top: 10vh;

    display: grid;

    grid-template-columns: 60% 40%;

    align-content: center;

    justify-content: center;
    margin-top: auto;
    height: 70vh;
    margin: auto;

    transform: translateY(-3vh);
}

.popupContenu p {
    font-weight: 600;
    font-size: 3vh;

    grid-column: 2/3;

    align-self: center;
    color: white;
    text-align: justify;
    margin: 0 1vw;
    margin-right: 5vw;
}
.popupImg {
    grid-column: 1/2;
    max-height: 70vh;
    width: 50vw;
    margin: auto;
}

.popupImg img {
    max-height: 70vh;
    width: 50vw;

    object-fit: contain;
}

.popup:target {
    visibility: visible;
}

.exit {
    /*croix ppur fermer*/

    grid-area: 2/2/3/3;
    width: 35%;
    z-index: 10;
    margin: auto;

    transform: none;

    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
}

.exit:hover {
    transform: scale(1.1) rotate(90deg);
}

/*---------Section contact----------*/

.contact {
    height: 95vh;

    display: grid;

    grid-template-rows: 10vh 75vh;

    justify-content: center;
}

label {
    margin-left: 20px;
    font-size: 1.8rem;
}

.formulaire {
    grid-row: 2/3;
    padding-top: 5vh;

    display: grid;

    grid-template-columns: repeat(2, 50%);

    grid-template-rows: repeat(2, 22.5%) 45% 10%;
    width: 500px;
    height: 500px;
}
.formulaire input,
.formulaire textarea {
    outline: none;
    border: none;
    width: calc(100% - 60px);
    border-radius: 25px;
    background: white;
    min-height: 50px;
    padding-left: 30px;
    margin: 3px;
    box-shadow: rgb(196, 196, 196) 0 0 15px;
    overflow: visible;
    /*pour que les ombres soit visibles entièrement*/
    margin: 10px;
}
.formulaire textarea {
    resize: none;

    margin: 10px;
}
.formulaire button {
    outline: none;
    border: none;
    width: 50px;
    min-height: 50px;
    margin-left: 20px;
}

button:hover {
    cursor: pointer;
}
button:hover img {
    transform: scale(1.1);
}

.inputName {
    grid-area: 1/1/2/3;
}

.inputMail {
    grid-area: 2/1/3/3;
}

.message {
    grid-area: 3/1/4/3;
}

.submit {
    grid-area: 4/1/5/2;
}

/*-----------CSS Onepage présentation----------*/

.presentationOP,
.parcoursOP,
.competencesOP {
    width: 100vw;
    height: 90vh;
    display: grid;
    padding: 0;

    grid-template: 100vh/8vw 32vw 60vw;
}

/*----------Généralités---------*/

.contenu {
    grid-area: 1/3/1/4;
    display: grid;

    align-content: center;

    grid-template: 10vh 0vh 1vh 71vh /5vw 50vw 5vw;
}
.contenu h2 {
    grid-area: 1/2/2/3;
}

/*-----------bandeau noir sur la gauche-------------*/
.bandeauNoir {
    grid-area: 1/2/1/3;
    background-color: black;
    display: grid;
    grid-template: 2.5fr 20fr 0.5fr 2fr 4fr / 1fr 10fr 1fr;
    justify-content: center;
}

.imageAccompagnement {
    grid-area: 2/2/3/3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.contactOP {
    grid-area: 4/2/5/3;
    display: grid;
    grid-template: 1fr/4fr 1fr 4fr 1fr 4fr;
    justify-content: center;
    align-items: center;
}
.contactOP a {
    height: 100%;
    display: flex;
    justify-content: center;
}
.contactOP img {
    height: 100%;
}

.contactOP a:hover {
    transform: scale(0.95);
}
.rx1 {
    grid-area: 1/1/2/1;
}
.rx2 {
    grid-area: 1/3/2/4;
}
.rx3 {
    grid-area: 1/5/2/6;
}
.contactOP p {
    grid-area: 1/4/1/5;
    border: 2px solid red;
    width: min-content;
    margin: auto;
}

/*----------Section présentation----------*/
.imgAC1 {
    background-image: url(../images/portrait.webp);
}
.presentationOP {
    padding-top: 10vh;
}

.contenuPresentation {
    grid-area: 4/2/5/3;
}

.contenuPresentation p {
    padding-top: 5%;
    max-width: 40vw;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-size: 18pt;
    margin: 0 auto;
    text-align: justify;
    color: black;
}

strong {
    color: #dc00ff;
    font-weight: 600;
}

/*-----------section competences-----------*/

.imgAC2 {
    background-image: url(../images/competences.webp);
}
.competencesOP {
    height: 100vh;
}
.ccOP {
    padding-top: 10vh;
}
.plusGrand {
    grid-template: 5.5fr 20fr 0.5fr 2fr 1fr / 1fr 10fr 1fr !important;
}

.contenuCompetences {
    padding-top: 5%;

    grid-area: 4/2/5/3;

    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    align-content: space-around;

    justify-content: space-between;
}

.boitesCompetence {
    height: 14vw;
    width: 14vw;
    max-width: 400px;
    max-height: 400px;
    border: 0.5vw solid black;
    border-radius: 20%;

    display: grid;

    grid-template-rows: 1fr 3fr;

    align-items: center;
    text-align: center;
}

.boitesCompetence h3 {
    font-family: "Bebas Neue", cursive;
    padding: 0;
    font-size: 2vw;

    align-self: flex-end;
}

.boitesCompetence p {
    font-weight: 600;
    margin: auto;
    padding: 0 10px;
    text-align: center;
    font-size: 1vw;
    color: black;
}

.contenuParcours {
    grid-area: 4/2/5/3;
}
.boitesCompetence:hover {
    background-color: black;
}
.boitesCompetence:hover h3,
.boitesCompetence:hover p {
    color: #fffa00;
}

/*------------Section Parcours--------------*/

.imgAC3 {
    background-image: url(../images/parcours.webp);
}
.contenuParcours * {
    box-sizing: border-box;
    overflow: initial;
}
.contenuParcours {
    grid-area: 4/2/5/3;
}

.contenuParcours a {
    text-decoration: none;
    color: #ededed;
}
.contenuParcours a:hover {
    color: #fffa00;
}
/*------timeline-------*/

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
    z-index: 999;
}
/*------cercles sur la timeline------*/
.container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #ededed;
    border: 4px solid black;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.left {
    left: 0;
}
.right {
    left: 50%;
}
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid black;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
}
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
}
.right::after {
    left: -16px;
}

.content {
    padding: 20px 0;
    color: #ededed;
    background-color: black;
    position: relative;
    border-radius: 6px;
}

.content h3 {
    padding: 0;
    padding-left: 10px;
    font-size: 25px;
}

.content p {
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: justify;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
}

.left h3 {
    text-align: end;
    padding-right: 10px;
}

@media screen and (max-width: 1579px) {
    /* Place la timeline à gauche */
    .timeline::after {
        left: 31px;
    }
    /* les bulles prennent toute la largeur du parent */
    .container {
        width: 75%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* les fleches des bulles pointent à gauche */
    .container::before {
        left: 60px;
        border: medium solid #ededed;
        border-width: 10px 10px 10px 0;
        border-color: transparent black transparent transparent;
    }
    /* tous les points de la timeline sont au bon endroit */
    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
    .left h3 {
        text-align: start;
    }
}

/*-----------Css mentions legales----------*/

.mainMent {
    padding-top: 10vh;

    display: flex;

    flex-direction: column;

    flex-wrap: nowrap;
}

.bodyMent {
    height: 100vh;
    overflow-y: scroll;
}

.mainMent h2 {
    padding-top: 2vh;
}

.pMentions,
.mainMent h3 {
    padding-left: 5vw;
    padding-right: 5vw;
    color: black;
}

.mainMent h3 {
    padding-top: 2vh;
}

.pMentions {
    padding-bottom: 1vh;
    padding-top: 1vh;
}
